    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">Suivi et Préparation à l’Insertion Professionnelle</a>
            </section>
        </div>
    </div>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center">
          <h1>Page Introuvable<small><font face="Tahoma" color="red"> Erreur 404</font></small></h1>
          <br />
          <p>La page demandé est introuvable, Merci de contacter voute Administrateur. Utilisez le bouton <b>retour</b> de votre navigateur pour naviguer vers la page ou vous étiez</p>
          <p><b>Ou cliquer sur ce bouton :</b></p>
          <a href="#/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Accueille</a>
      </div>
    </div>
  </div>
</div>