        
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Tableau de bord"></span> </a></li>
        <li>
            <a href="#/admin"><i class="fa fa-book"></i><span data-i18n="Administration"></span></a>
            <ul>
                <li><a href="#/admin/enseignants"><i class="fa fa-caret-right"></i><span data-i18n="Enseignants"></span></a></li>                
                <li><a href="#/admin/formations"><i class="fa fa-caret-right"></i><span data-i18n="Formations"></span></a></li>                
                <li><a href="#/admin/ue"><i class="fa fa-caret-right"></i><span data-i18n="UE"></span></a></li>
            </ul>
        </li>        
    </ul>
</div>