<div class="page" ng-controller="editEtudiantsCtrl">
  <div class="panel panel-default ens-edit">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Etudiant</strong></div>
    <div class="panel-body">
        <!-- Consultation -->
        <div class="media animate" ng-hide="edit">

        <!-- Creation -->
        <div>            
<form class="form-horizontal" ng-submit="modifierEtudiant()">
                <div class="form-group">
                    <label for="" class="col-sm-2">Numéro Etudiant<span style="color: red"> *</span></label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="50" class="form-control" ng-model="etudiant.noEtudiant" required>
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Code Formation<span style="color: red"> *</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" disabled="disabled" ng-model="codeFormation">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Année Universitaire<span style="color: red"> *</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" disabled="disabled" ng-model="anneeUniversitaire" required>
                    </div>                   
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Nom<span style="color: red"> *</span></label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="50" class="form-control" ng-model="etudiant.nom" required>
                    </div>                    
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Prénom<span style="color: red"> *</span></label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="50" class="form-control" ng-model="etudiant.prenom" required>
                    </div>                    
                </div>
                
               <div class="form-group">
                    <label class="col-sm-2">Sexe<span style="color: red"> *</span></label>
                    <div class="col-sm-10" required>
                        <label class="ui-radio"><input name="radio1" type="radio" value="H" ng-model="etudiant.sexe" checked><span>Homme</span></label>
                        <label class="ui-radio"><input name="radio1" type="radio" value="F" ng-model="etudiant.sexe" ><span>Femme</span></label>
                    </div>                    
                </div>                   
                
                <div class="form-group">
                    <label for="" class="col-sm-2">Date de Naissance<span style="color: red"> *</span></label>
                    <div class="col-sm-10">
                        <input type="text" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}" class="form-control" ng-model="etudiant.dateNaissance" placeholder='JJ-MM-AAAA' required>
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Lieu de Naissance<span style="color: red"> *</span></label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="255" class="form-control" ng-model="etudiant.lieuNaissance" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Nationnalité<span style="color: red"> *</span></label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="50" class="form-control" ng-model="etudiant.nationalite" required>
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Téléphone</label>
                    <div class="col-sm-10">
                        <input type="number" maxlength="20" placeholder="xx xx xx xx xx" class="form-control"  pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$" ng-model="etudiant.telephone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Mobile</label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="20" class="form-control" pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$" ng-model="etudiant.mobile">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">E-mail<span style="color: red"> *</span></label>
                    <div class="col-sm-10">
                        <input type="email" maxlength="255" class="form-control" ng-model="etudiant.email" required>
                        
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">E-mail UBO</label>
                    <div class="col-sm-10">
                        <input type="email" maxlength="255" class="form-control" ng-model="etudiant.emailUbo">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Adresse<span style="color: red"> *</span></label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="255" class="form-control" ng-model="etudiant.adresse" required>
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Code postal</label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="10" class="form-control" ng-model="etudiant.codePostal">
                    </div>                    
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Ville<span style="color: red"> *</span></label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="255" class="form-control" ng-model="etudiant.ville" required>
                    </div>                    
                </div>
                
                
                <div class="form-group">
                    <label for="" class="col-sm-2">Pays Origine<span style="color: red"> *</span></label>
                    <div class="col-sm-10">          
                         <select class="form-control" ng-model="etudiant.paysOrigine" required>
                            <option disabled selected value>Pays Origine</option>
                            <option data-ng-repeat = "u in domainePays" value="{{u.rvAbbreviation}}">{{u.rvAbbreviation}}</option>
                        </select>                  
                    </div>                    
                </div>
                
                
                <div class="form-group">
                    <label for="" class="col-sm-2">Université Origine<span style="color: red"> *</span></label>
                    <div class="col-sm-10">  
                         <select class="form-control" ng-model="etudiant.universiteOrigine" required>
                            <option disabled selected value>Université Origine</option>
                            <option data-ng-repeat = "u in domaineUniv" value="{{u.rvAbbreviation}}">{{u.rvAbbreviation}}</option>
                        </select>                  
                    </div>                    
                </div>
                
                
                <div class="form-group">
                    <label for="" class="col-sm-2">Groupe TP</label>
                    <div class="col-sm-10">
                    <input type="number" class="form-control" ng-model="etudiant.groupeTp" min="1" max="2">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Groupe Anglais</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" ng-model="etudiant.groupeAnglais" value="0" min="1" max="2">
                    </div>                    
                </div>
                <input type="submit" value="Ajouter" class="btn btn-primary"></input>
                <a class="btn btn-danger pull-right" href="#/admin/promotion"> Annuler</a>
        </form>
        </div>
    </div>
  </div>
</div>


