
<div class="page page-table" data-ng-controller="EvaluationListCtrl">
<h3 style="text-align:center"><strong>{{evaCodeFormation}} Evaluation d'un enseignement</strong></h3>
    
    
    <section class=" panel panel-default ">
        <div class="panel-heading"><strong> Informations</strong> </div>
         <div class="panel-body"style="text-align: center;">

					<div class="col-md-3">
						<strong> Unité d'Enseignement :</strong> <span>{{evaCodeUe}}
						</span>
					</div>
					<div class="col-md-3">
						<strong> Elément Constitutif :</strong><span>{{evaCodeEc}}</span>
					</div>
					<div class="col-md-6">
						<strong> Période :</strong> <span>{{evaPeriode}}</span>
					</div>
					</ul>
				</div>
        
    </section>
    </div>